services:
  gatus:
    image: docker.io/twinproduction/gatus:v5.35.0
    container_name: gatus
    user: "999:999"
    volumes:
      - ./config:/config
      - ./data:/data
    ports:
      - "8080:8080"
    restart: always
