
services:
  miniflux:
    image: docker.io/miniflux/miniflux:2.2.17
    container_name: miniflux
    networks:
      - miniflux
    depends_on:
      - miniflux-db
    restart: always
    environment:
      - DATABASE_URL=postgres://{{ miniflux_db_user }}:{{ miniflux_db_password }}@miniflux-db/miniflux?sslmode=disable
      - RUN_MIGRATIONS=1
      - CREATE_ADMIN=1
      - ADMIN_USERNAME={{ miniflux_admin_username }}
      - ADMIN_PASSWORD={{ miniflux_admin_password }}
      - BASE_URL=https://miniflux.snake-cloud.ts.net
  miniflux-db:
    image: docker.io/postgres:15.16
    container_name: miniflux-db
    networks:
      - miniflux
    environment:
      - POSTGRES_USER={{ miniflux_db_user }}
      - POSTGRES_PASSWORD={{ miniflux_db_password }}
    volumes:
      - miniflux-db:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "miniflux"]
      interval: 10s
      start_period: 30s
  newt:
    image: docker.io/fosrl/newt:1.9.0
    container_name: newt-miniflux
    restart: unless-stopped
    networks:
      - miniflux
    environment:
      - PANGOLIN_ENDPOINT={{ pangolin_endpoint }}
      - NEWT_ID={{ miniflux_newt_id }}
      - NEWT_SECRET={{ miniflux_newt_secret }}
volumes:
  miniflux-db:
    name: miniflux-db
networks:
  miniflux:
    name: miniflux
