services:
  igotify:
    container_name: igotify
    image: ghcr.io/androidseb25/igotify-notification-assist:v1.5.1.3
    restart: always
    security_opt:
      - no-new-privileges:true
    pull_policy: always
    networks:
      - igotify
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/Version"]
      interval: "3s"
      timeout: "3s"
      retries: 5
    volumes:
      - ~/api-data:/app/data
    environment:
      GOTIFY_URLS: {{ gotify_url }}
      GOTIFY_CLIENT_TOKENS: {{ igotify_gotify_client_tokens }}
  newt:
    image: docker.io/fosrl/newt:1.10.0
    container_name: newt-igotify
    restart: unless-stopped
    networks:
      - igotify
    environment:
      - PANGOLIN_ENDPOINT={{ pangolin_endpoint }}
      - NEWT_ID={{ igotify_newt_id }}
      - NEWT_SECRET={{ igotify_newt_secret }}

networks:
  igotify:
    name: igotify
