# Managed by Ansible (roles/vps_backup). Mode 0600.
RESTIC_REPOSITORY=rclone:{{ vps_backup_rclone_remote }}:{{ vps_backup_repo_path }}
RESTIC_PASSWORD={{ vps_backup_restic_password }}
GOTIFY_URL={{ vps_backup_gotify_url }}
GOTIFY_TOKEN={{ vps_backup_gotify_token | default("") }}
