services:
  invidious:
    # https://quay.io/repository/invidious/invidious?tab=tags
    image: quay.io/invidious/invidious:2026.01.19-7e36cfb
    container_name: invidious
    restart: always
    networks:
      - invidious
    environment:
      INVIDIOUS_CONFIG: |
        db:
          dbname: invidious
          user: {{ invidious_db_user }}
          password: {{ invidious_db_password }}
          host: invidious-db
          port: 5432
        check_tables: true
        invidious_companion:
          - private_url: "http://companion:8282/companion"
        invidious_companion_key: {{ invidious_companion_secret_key }}
        hmac_key: {{ invidious_hmac_key }}
    healthcheck:
      test: wget -nv --tries=1 --spider http://127.0.0.1:3000/api/v1/comments/jNQXAC9IVRw || exit 1
      interval: 30s
      timeout: 5s
      retries: 2
    depends_on:
      - invidious-db

  companion:
      # https://quay.io/repository/invidious/invidious-companion?tab=tags
      image: quay.io/invidious/invidious-companion:master-05cd859
      container_name: invidious-companion
      environment:
        - SERVER_SECRET_KEY={{ invidious_companion_secret_key }}
      restart: unless-stopped
      networks:
        - invidious
      logging:
        options:
          max-size: "1G"
          max-file: "4"
      cap_drop:
        - ALL
      read_only: true
      volumes:
        - ./companioncache:/var/tmp/youtubei.js:rw
      security_opt:
        - no-new-privileges:true

  invidious-db:
    image: docker.io/library/postgres:14
    container_name: invidious-db
    restart: always
    networks:
      - invidious
    volumes:
      - ./postgresdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: invidious
      POSTGRES_USER: "{{ invidious_db_user }}"
      POSTGRES_PASSWORD: "{{ invidious_db_password }}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
  newt:
    image: docker.io/fosrl/newt:1.9.0
    container_name: newt
    restart: unless-stopped
    networks:
      - invidious
    environment:
      - PANGOLIN_ENDPOINT={{ pangolin_endpoint }}
      - NEWT_ID={{ invidious_newt_id }}
      - NEWT_SECRET={{ invidious_newt_secret }}
networks:
  invidious:
