
services:
  lidarr:
    container_name: lidarr
    image: docker.io/linuxserver/lidarr:3.1.0
    ports:
      - 8686:8686
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Etc/UTC
    volumes:
      - ~/lidarr/config:/config
      - /mnt/media/Music:/mnt/media/Music
      - /mnt/media/Torrents:/downloads
    restart: always
