services:
  gotify:
    image: docker.io/gotify/server:2.9.0
    container_name: gotify
    networks:
      - gotify
    restart: always
    volumes:
      - ~/data:/app/data
    security_opt:
      - no-new-privileges:true
  newt:
    image: docker.io/fosrl/newt:1.9.0
    container_name: newt-gotify
    restart: unless-stopped
    networks:
      - gotify
    environment:
      - PANGOLIN_ENDPOINT={{ pangolin_endpoint }}
      - NEWT_ID={{ gotify_newt_id }}
      - NEWT_SECRET={{ gotify_newt_secret }}
networks:
  gotify:
    name: gotify
