services:
  sonarr:
    container_name: sonarr
    # https://hub.docker.com/r/linuxserver/sonarr/tags
    image: docker.io/linuxserver/sonarr:4.0.16
    restart: always
    ports:
      - 8989:8989
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Etc/UTC
    volumes:
      - ~/sonarr/config:/config
      - "/mnt/media/TV Shows:/mnt/media/TV Shows"
      - /mnt/media/Torrents:/downloads
