services:
  watchyourlan:
    image: aceberg/watchyourlan:v2
    network_mode: "host"
    restart: always
    volumes:
      - ~/.dockerdata/wyl:/data/WatchYourLAN
    environment:
      TZ: America/Toronto
      IFACES: "eth0"
      SHOUTRRR_URL: "{{ watchyourlan_shoutrr_url }}"
      THEME: "cosmo"
      COLOR: "dark"
