services:
  archivebox:
    image: docker.io/archivebox/archivebox:0.7.3
    container_name: archivebox
    command: server --quick-init 0.0.0.0:8000
    restart: always
    ports:
      - 8000:8000
    environment:
      - MEDIA_MAX_SIZE=750m
      - ALLOWED_HOSTS=archivebox.snake-cloud.ts.net
      - CSRF_TRUSTED_ORIGINS=https://archivebox.snake-cloud.ts.net
    volumes:
      - ./data:/data
