---
- name: Install archivebox
  hosts: archivebox
  tasks:
    - ansible.builtin.include_tasks:
        file: ../../tasks/install-podman.yml

    - ansible.builtin.include_tasks:
        file: ../../tasks/install-common-packages.yml

    - name: Copy compose.yml
      ansible.builtin.copy:
        src: compose.yml
        dest: "~/compose.yml"
        mode: "0640"

    - name: Enable UFW
      community.general.ufw:
        state: enabled
        policy: deny

    - name: Start podman-compose services
      ansible.builtin.command:
        cmd: podman-compose up -d --pull-always

    - name: Prune containers
      ansible.builtin.command:
        cmd: podman container prune -f

    - name: Remove unused images
      ansible.builtin.command:
        cmd: podman image prune -af
