---
- name: Install archivebox
  hosts: archivebox
  tasks:
    - ansible.builtin.include_tasks:
        file: ../../tasks/install-podman.yml

    - ansible.builtin.include_tasks:
        file: ../../tasks/install-common-packages.yml

    - name: Copy compose.yml
      ansible.builtin.copy:
        src: compose.yml
        dest: "~/compose.yml"
        mode: "0640"

    - name: Enable UFW
      community.general.ufw:
        state: enabled
        policy: deny

    - ansible.builtin.include_tasks:
        file: ../../tasks/podman-pull.yml
