services:
  umami:
    image: ghcr.io/umami-software/umami:3.0.3
    container_name: umami
    networks:
      - umami
    environment:
      DATABASE_URL: postgresql://{{ umami_db_user}}:{{ umami_db_password }}@db:5432/umami
      DATABASE_TYPE: postgresql
      APP_SECRET: {{ umami_app_secret }}
    depends_on:
      db:
        condition: service_healthy
    init: true
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:3000/api/heartbeat"]
      interval: 5s
      timeout: 5s
      retries: 5
  db:
    image: docker.io/postgres:15-alpine
    container_name: umami-db
    networks:
      - umami
    environment:
      POSTGRES_DB: umami
      POSTGRES_USER: {{ umami_db_user }}
      POSTGRES_PASSWORD: {{ umami_db_password }}
    volumes:
      - umami-db-data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
  newt:
    image: docker.io/fosrl/newt:1.10.0
    container_name: newt-umami
    restart: unless-stopped
    networks:
      - umami
    environment:
      - PANGOLIN_ENDPOINT={{ pangolin_endpoint }}
      - NEWT_ID={{ umami_newt_id }}
      - NEWT_SECRET={{ umami_newt_secret }}
volumes:
  umami-db-data:
networks:
  umami:
    name: umami
