services:
  umami:
    image: ghcr.io/umami-software/umami:3.0.3
    ports:
      - 3000:3000
    container_name: umami
    environment:
      DATABASE_URL: postgresql://{{ umami_db_user}}:{{ umami_db_password }}@db:5432/umami
      DATABASE_TYPE: postgresql
      APP_SECRET: {{ umami_app_secret }}
    depends_on:
      db:
        condition: service_healthy
    init: true
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:3000/api/heartbeat"]
      interval: 5s
      timeout: 5s
      retries: 5
  db:
    image: postgres:15-alpine
    container_name: umami-db
    environment:
      POSTGRES_DB: umami
      POSTGRES_USER: {{ umami_db_user }}
      POSTGRES_PASSWORD: {{ umami_db_password }}
    volumes:
      - umami-db-data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
  newt:
    image: fosrl/newt:1.8.1
    container_name: newt
    restart: unless-stopped
    network_mode: host
    environment:
      - PANGOLIN_ENDPOINT={{ pangolin_endpoint }}
      - NEWT_ID={{ umami_newt_id }}
      - NEWT_SECRET={{ umami_newt_secret }}
volumes:
  umami-db-data:
