services:
  gitea:
    image: gitea/gitea:1.25.4
    container_name: gitea
    ports:
      - 3000:3000
    environment:
      - USER_UID=1000
      - USER_GID=1000

      - GITEA__server__DOMAIN=gitea.davegallant.ca
      - GITEA__server__ROOT_URL=https://gitea.davegallant.ca
      - GITEA__server__HTTP_ADDR=0.0.0.0
      - GITEA__server__LFS_JWT_SECRET={{ gitea_lfs_jwt }}

      - GITEA__service__DISABLE_REGISTRATION=true

      - GITEA__ui__DEFAULT_THEME=gitea-auto
      - GITEA__ui__THEMES=gitea-light,gitea-dark,gitea-auto

      - GITEA__indexer__REPO_INDEXER_ENABLED=true
      - GITEA__indexer__REPO_INDEXER_PATH=indexers/repos.bleve
      - GITEA__indexer__MAX_FILE_SIZE=1048576
      - GITEA__indexer__REPO_INDEXER_INCLUDE=
      - GITEA__indexer__REPO_INDEXER_EXCLUDE=resources/bin/**
    restart: always
    volumes:
      - ./data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
  newt:
    image: fosrl/newt:1.8.1
    container_name: newt
    restart: unless-stopped
    network_mode: host
    environment:
      - PANGOLIN_ENDPOINT={{ pangolin_endpoint }}
      - NEWT_ID={{ gitea_newt_id }}
      - NEWT_SECRET={{ gitea_newt_secret }}
