services:
  calibre-web:
    image: docker.io/linuxserver/calibre-web:0.6.25
    container_name: calibre-web
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - DOCKER_MODS=linuxserver/mods:universal-calibre #optional
    volumes:
      - ./config:/config
      - /mnt/media/Calibre:/books
    ports:
      - 8083:8083
    restart: always
