
services:
  speedtest-tracker:
    container_name: speedtest-tracker
    ports:
      - 8080:80
    environment:
      - PUID=1000
      - PGID=1000
      - DB_CONNECTION=pgsql
      - DB_HOST=speedtest-db
      - DB_PORT=5432
      - DB_DATABASE=speedtest_tracker
      - DB_USERNAME={{ speedtest_tracker_db_username }}
      - DB_PASSWORD={{ speedtest_tracker_db_password }}
      - APP_KEY={{ speedtest_tracker_app_key }}
      - SPEEDTEST_SCHEDULE="*/60 * * * *"
    volumes:
      - ./speedtest-app:/config
      - "./web:/etc/ssl/web"
    image: linuxserver/speedtest-tracker:1.12.1
    restart: unless-stopped
    depends_on:
      - speedtest-db
  speedtest-db:
    container_name: speedtest-db
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_DB=speedtest_tracker
      - POSTGRES_USER={{ speedtest_tracker_db_username }}
      - POSTGRES_PASSWORD={{ speedtest_tracker_db_password }}
    volumes:
      - ./speedtest-db:/var/lib/postgresql/data

