services:
  changedetection:
    image: docker.io/dgtlmoon/changedetection.io:0.52.9
    container_name: changedetection
    ports:
      - 5000:5000
    volumes:
      - ./changedetection:/datastore
    environment:
      - HIDE_REFERER=true
    restart: always
