services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:2.32.1
    container_name: audiobookshelf
    networks:
      - audiobookshelf
    volumes:
      - /mnt/media/Audiobooks:/audiobooks
      - /mnt/media/Podcasts:/podcasts
      - ./metadata:/metadata
      - ./config:/config
    restart: always
  newt:
    image: docker.io/fosrl/newt:1.9.0
    container_name: newt
    restart: unless-stopped
    networks:
      - audiobookshelf
    environment:
      - PANGOLIN_ENDPOINT={{ pangolin_endpoint }}
      - NEWT_ID={{ audiobookshelf_newt_id }}
      - NEWT_SECRET={{ audiobookshelf_newt_secret }}
networks:
   audiobookshelf:
     name: audiobookshelf
