---
- name: Install audiobookshelf
  hosts: audiobookshelf
  tasks:
    - ansible.builtin.include_tasks:
        file: ../../tasks/install-podman.yml

    - ansible.builtin.include_tasks:
        file: ../../tasks/install-common-packages.yml

    - name: Copy docker-compose.yml
      ansible.builtin.template:
        src: compose.yml
        dest: "~/compose.yml"
        mode: "0640"

    - name: Enable UFW
      community.general.ufw:
        state: enabled
        policy: deny

    - ansible.builtin.include_tasks:
        file: ../../tasks/podman-pull.yml
