services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.2
    container_name: jellyfin
    network_mode: host
    user: 1000:1000
    group_add:
      - "108"
    environment:
      - JELLYFIN_PublishedServerUrl={{ jellyfin_hostname }}
    volumes:
      - ./config:/config
      - /movies:/movies:ro
      - /tv:/tv:ro
      - /music:/music:ro
    restart: unless-stopped
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
