services:
  jellyfin:
    image: docker.io/jellyfin/jellyfin:10.11.6
    container_name: jellyfin
    user: 1000:1000
    networks:
      - jellyfin
    group_add:
      - "108"
    environment:
      - JELLYFIN_PublishedServerUrl={{ jellyfin_hostname }}
    volumes:
      - ./config:/config
      - /movies:/movies:ro
      - /tv:/tv:ro
      - /music:/music:ro
    restart: always
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
  newt:
    image: docker.io/fosrl/newt:1.9.0
    container_name: newt
    restart: unless-stopped
    networks:
      - jellyfin
    environment:
      - PANGOLIN_ENDPOINT={{ pangolin_endpoint }}
      - NEWT_ID={{ jellyfin_newt_id }}
      - NEWT_SECRET={{ jellyfin_newt_secret }}
networks:
  jellyfin:
