- name: Pull and start containers
  community.docker.docker_compose_v2:
    project_src: .
    pull: always

- name: Prune docker images
  community.docker.docker_prune:
    containers: false
    images: true
    images_filters:
      dangling: false
    networks: false
    volumes: false
    builder_cache: false
