services:
  vaultwarden:
    image: docker.io/vaultwarden/server:1.35.4
    ports:
      - 8080:80
    container_name: vaultwarden
    restart: always
    environment:
      DOMAIN: "https://vaultwarden.snake-cloud.ts.net"
    volumes:
      - ./vw-data/:/data/
