services:
  navidrome:
    container_name: navidrome
    image: deluan/navidrome:0.59.0
    user: 1000:1000 # should be owner of volumes
    ports:
      - "4533:4533"
    restart: unless-stopped
    environment:
      - ND_ENABLEINSIGHTSCOLLECTOR=false
      - ND_LASTFM_APIKEY={{ navidrome_lastfm_api_key }}
      - ND_LASTFM_SECRET={{ navidrome_lastfm_api_key }}
      - ND_LISTENBRAINZ_BASEURL=https://maloja.snake-cloud.ts.net/apis/listenbrainz/1/
    volumes:
      - ./data:/data
      - /music:/music:ro
