services:
  navidrome:
    container_name: navidrome
    image: docker.io/deluan/navidrome:0.60.3
    user: 1000:1000 # should be owner of volumes
    networks:
      - navidrome
    restart: always
    environment:
      - ND_ENABLEINSIGHTSCOLLECTOR=false
      - ND_LASTFM_APIKEY={{ navidrome_lastfm_api_key }}
      - ND_LASTFM_SECRET={{ navidrome_lastfm_api_key }}
      - ND_LISTENBRAINZ_BASEURL=https://maloja.snake-cloud.ts.net/apis/listenbrainz/1/
    volumes:
      - ./data:/data
      - /music:/music:ro
  newt:
    image: docker.io/fosrl/newt:1.10.0
    container_name: newt-navidrome
    restart: unless-stopped
    networks:
      - navidrome
    environment:
      - PANGOLIN_ENDPOINT={{ pangolin_endpoint }}
      - NEWT_ID={{ navidrome_newt_id }}
      - NEWT_SECRET={{ navidrome_newt_secret }}
networks:
  navidrome:
    name: navidrome
