services:
  beszel:
    image: docker.io/henrygd/beszel:0.18.2
    container_name: beszel
    ports:
      - 8090:8090
    volumes:
      - ${PWD}/beszel-hub/beszel_data:/beszel_data
    restart: always
