services:
  beszel:
    image: henrygd/beszel:0.17.0
    container_name: beszel
    ports:
      - 8090:8090
    volumes:
      - ${PWD}/beszel-hub/beszel_data:/beszel_data
    restart: unless-stopped
