services:
  dispatcharr:
    image: ghcr.io/dispatcharr/dispatcharr:0.15.1
    container_name: dispatcharr
    restart: always
    ports:
      - 9191:9191
    volumes:
      - dispatcharr_data:/data
    environment:
      - DISPATCHARR_ENV=aio
      - REDIS_HOST=localhost
      - CELERY_BROKER_URL=redis://localhost:6379/0
      - DISPATCHARR_LOG_LEVEL=info
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
volumes:
  dispatcharr_data:
