name: Run ansible
on:
  push:
    branches:
      - main
  schedule:
    - cron: "@daily"

jobs:
  run-ansible-playbook:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install ansible
        run: |
          apt update && apt install python3-pip -y
          python3 -m pip install -r ansible/requirements.txt
      - name: Install ansible collections
        run: |
          ansible-galaxy collection install -r ansible/requirements.yml --force
      - name: Run Playbook
        env:
          ANSIBLE_HOST_KEY_CHECKING: False
          BWS_ACCESS_TOKEN: "${{ secrets.BWS_ACCESS_TOKEN }}"
        run: |
          ansible-playbook -i ansible/inventory ansible/playbooks/main.yml
      - name: Send failure notification
        if: always() && failure()
        run:
          curl -X POST "${{ secrets.GOTIFY_URL }}/message?token=${{ secrets.GOTIFY_TOKEN }}" -F "title=gitea job ${{ github.repository }} failed!" -F "message=${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_number }}" -F "priority=5"
